// path: app/globals.css
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 0%;
    --foreground: 0 0% 100%;
    --border: 0 0% 100% / 0.1;
  }
}

@layer base {
  body {
    @apply bg-background text-foreground antialiased;
  }
}
